* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}

/* ===== NAVBAR ===== */
.navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1200px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    transition: background 0.3s ease;
}

.navbar.scrolled {
    background: #000;
    border-color: rgba(255, 255, 255, 0.1);
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

/* Nav Links */
.nav-links {
    display: flex;
    gap: 28px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.9;
    transition: 0.3s;
}

.nav-links a:hover {
    opacity: 1;
}

/* Button */
.nav-btn {
    padding: 10px 20px;
    background: #fff;
    color: #000;
    border-radius: 30px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #000;
    color: #fff;
}

/* Hamburger */
.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span {
    width: 24px;
    height: 2px;
    background: #fff;
}

/* ===== MOBILE ===== */
@media(max-width:900px) {
    .nav-links {
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background: rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(15px);
        border-radius: 30px;
        padding: 20px 0;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-btn {
        display: none;
    }
}